.outer-paper {
 margin: auto;
 width: 60%;

}

.board {
 background: #2962ff;
 width: 281px;
 align-items: center;

}

.button {
 background: #fff;
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #000000;
 font-size: 1px;
 width: 40px;
 height: 40px;
 text-decoration: none;
 border: none;
}

.xBtn {background-color: red}
.oBtn {background-color: yellow}

body {color: white}
h1 {font-size: 42px;
text-align: left;}
p {font-size: 23px}
